@model Fishbait2.Models.PostAndUpdateViewModel
@{
    ViewData["Title"] = "@Model.Titel";
}
    <link href="~/css/custom.css" rel="stylesheet" />


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>@Model.post.title</h2>
        </div>
    </div>
    <div class="row postBoxViewPost">
        <div class="col-md-8 postBoxImageContainerViewPost">
            <img src="~/PostImages/@Model.post.image" alt="image" class="postBoxImage">
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Follow!</h5>
                    <p class="card-text">If you like their idea be sure to follow to get a notification when they update.</p>
                    @if (Model.post.registered == false)
                    {
                  <a asp-action="Follow" asp-controller="notification" asp-route-postid="@Model.post.id" asp-route-accountid="1">Follow</a>
                    }
                    else
                    {
                       <p class="text-danger">You already follow this post.</p>
                    }
                </div>
            </div>
            <br />
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a href='@string.Format("/post/DeletePost?id={0}&registered={1}", Model.post.id, Model.post.registered)' class="btn btn-danger">Delete Post</a>
                    <br />
                    <br />
                    <a href='@string.Format("/post/EditPost?id={0}", Model.post.id)' class="btn btn-success">Edit Post</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-7">
            @Model.post.description
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <b>Tags:</b> <h6>@Model.post.tag</h6>
        </div>
        <br />
        <br />
        <hr />
    </div>
    <div class="row">
        <h2>Updates</h2>
    </div>
    <div class="row">
        <a href='@string.Format("/post/UpdatePost?id={0}", Model.post.id)' class="btn btn-dark">Add Update</a>
    </div>
    <br>
    
    @foreach (var item in Model.postupdate)
    {
        <div class="row">
            <div class="col-md-3">
                <h4>@item.title</h4>
            </div>
            <div class="col-md-7">
                <a href='@string.Format("/post/DeleteUpdate?id={0}", item.id)' class="btn btn-danger">Delete Update</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 postBoxImageContainerViewPost">
                <img src="~/PostImages/@item.image" alt="image" class="postBoxImage">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                @item.description
            </div>
        </div>
        
    }
</div>



